{% for blog in object_list %}
{% if user.is_authenticated or blog.is_public %}

<div class="card mb-3">
  {% if blog.image %}
  <a href="{% url 'blogs:detail' blog.id %}">
    <img class="card-img-top" src="{{ blog.upload.url }}" alt="{{ blog.title }}">
  </a>
  {% endif %}
  <div class="card-body">
    {% if not blog.is_public %}
    <h5><span class="badge badge-secondary">下書き</span></h5>
    {% endif %}
    <a href="{% url 'blogs:detail' blog.id %}">
      <h5 class="card-title">{{ blog.title }}</h5>
    </a>
    <p class="card-text">{{ blog.published_at|date }}</p>
    <a href="{% url 'blogs:detail' blog.id %}" class="btn btn-primary">記事を読む</a>
  </div>
</div>

{% endif %}
{% empty %}
  <p>まだ投稿はありません。</p>
{% endfor %}