<!DOCTYPE html>
<html>
  {% extends "blogs/base.html" %}

  {% block title %}ミロンゲーロのIT作業記録 | {{ block.super }}{% endblock %}
  {% block description %}Pythonでアプリを開発する中で、記録しておいた方がよいことを書いています。{% endblock %}
  
  {% block content %}
  
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'blogs/style_detail.css' %}">

  <div>
    <h1 class="mt-5 pt-5" style="text-align: center;">コンタクト</h1>
  </div>
  <div style="width: 70%;margin: 0px auto;">
    <div>
      <div class='mt-5'>
         御用の方は、こちらまで！
      </div>
      <div style="text-align: center; margin-top: 50px">
        <a href="{% url 'blogs:index' %}">トップページに戻る</a>
      </div>
    </div>
  </div>
  {% endblock %}
</html>