<!DOCTYPE html>
<html>
{% extends "base.html" %}

{% block title %}Python学習ブログサイト | {{ block.super }}{% endblock %}
{% block description %}Pythonでアプリを開発する中で、記録しておいた方がよいことを書いています。{% endblock %}

{% block content %}

    <h1 style="text-align: center;">ブログ内容一覧</h1>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'blogs/style_index.css' %}">
    <div class="container">
        <div class="row">
            <hr />
                <main class="col-8">
                {% for blog in blogs %}
                <div>
                    <h3>{{blog.note_date}}</h3>
                    <h3>{{blog.title}}</h3>
                    <div>{{blog.text | truncatechars:100}}</div>
                    <div style="text-align: right;">
                        <a href="{% url 'blogs:detail' blog_id=blog.id %}">記事を読む</a>
                    </div>
                </div>
                {% if blog.upload %}
                <a href="{% url 'blogs:detail' blog.id %}">
                    <img src="{{ blog.upload.url }}" alt="{{ blog.title }}" width="240" height="126">
                </a>
                {% endif %}
                {% endfor %}
                </main>
                <aside class="col-4">
                    {% include "blogs/snippets/sidebar.html" %}
                </aside>
            <hr />
        </div>
    </div>
{% endblock %}
</html>